In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Sample data
house_data = pd.DataFrame({
    'HouseID': [1, 2, 3, 4],
    'LotSize': [8500, 9000, 8000, 9500],
    'NumBedrooms': [3, 4, 3, 4],
    'NumBathrooms': [2, 3, 2, 3],
    'YearBuilt': [2000, 1995, 2010, 2005],
    'SalePrice': [250000, 300000, 275000, 320000],
    'Neighborhood': ['A', 'B', 'A', 'B'],
    'DateSold': ['2020-06-01', '2021-07-01', '2019-05-01', '2022-08-01']
})

In [3]:
house_data

,HouseID,LotSize,NumBedrooms,NumBathrooms,YearBuilt,SalePrice,Neighborhood,DateSold
0,1,8500,3,2,2000,250000,A,2020-06-01
1,2,9000,4,3,1995,300000,B,2021-07-01
2,3,8000,3,2,2010,275000,A,2019-05-01
3,4,9500,4,3,2005,320000,B,2022-08-01

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Sample data
house_data = pd.DataFrame({
    'HouseID': [1, 2, 3, 4],
    'LotSize': [8500, 9000, 8000, 9500],
    'NumBedrooms': [3, 4, 3, 4],
    'NumBathrooms': [2, 3, 2, 3],
    'YearBuilt': [2000, 1995, 2010, 2005],
    'SalePrice': [250000, 300000, 275000, 320000],
    'Neighborhood': ['A', 'B', 'A', 'B'],
    'DateSold': ['2020-06-01', '2021-07-01', '2019-05-01', '2022-08-01']
})

# Handling missing values
house_data['NumBedrooms'].fillna(house_data['NumBedrooms'].median(), inplace=True)
house_data['NumBathrooms'].fillna(house_data['NumBathrooms'].median(), inplace=True)

# Encoding categorical variables
house_data = pd.get_dummies(house_data, columns=['Neighborhood'], drop_first=True)

# Feature scaling
scaler = StandardScaler()
house_data[['LotSize', 'NumBedrooms', 'NumBathrooms', 'YearBuilt']] = scaler.fit_transform(house_data[['LotSize', 'NumBedrooms', 'NumBathrooms', 'YearBuilt']])

# Creating interaction features
house_data['BedBathRatio'] = house_data['NumBedrooms'] / house_data['NumBathrooms']

# Polynomial features
house_data['LotSize_sq'] = house_data['LotSize'] ** 2

# Date/Time features
house_data['YearSold'] = pd.DatetimeIndex(house_data['DateSold']).year
house_data['HouseAge'] = house_data['YearSold'] - house_data['YearBuilt']

# Display the engineered features
print(house_data)

   HouseID   LotSize  NumBedrooms  NumBathrooms  YearBuilt  SalePrice  \
0        1 -0.447214         -1.0          -1.0  -0.447214     250000
1        2  0.447214          1.0           1.0  -1.341641     300000
2        3 -1.341641         -1.0          -1.0   1.341641     275000
3        4  1.341641          1.0           1.0   0.447214     320000

     DateSold  Neighborhood_B  BedBathRatio  LotSize_sq  YearSold     HouseAge
0  2020-06-01           False           1.0         0.2      2020  2020.447214
1  2021-07-01            True           1.0         0.2      2021  2022.341641
2  2019-05-01           False           1.0         1.8      2019  2017.658359
3  2022-08-01            True           1.0         1.8      2022  2021.552786

In [4]:
house_data

,HouseID,LotSize,NumBedrooms,NumBathrooms,YearBuilt,SalePrice,Neighborhood,DateSold
0,1,8500,3,2,2000,250000,A,2020-06-01
1,2,9000,4,3,1995,300000,B,2021-07-01
2,3,8000,3,2,2010,275000,A,2019-05-01
3,4,9500,4,3,2005,320000,B,2022-08-01